# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI
on:
  push:
    branches:
    - '**'
    tags:
     - '**'
  pull_request:
    branches:
     - '**'
    tags:
     - '**'
jobs:
  filtering:
    name: Check if files are changed
    runs-on: ubuntu-latest
    outputs:
      changes: ${{steps.filter.outputs.src}}
    steps:
    - uses: actions/checkout@v3
    - name: Filter paths
      uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          src:
            - './config/**'
            - './gradle/**'
            - './src/**'
            - './.gitignore'
            - './build.gradle'
            - './Dockerfile'
            - './gradlew'
            - './gradlew.bat'
            - './Makefile'
            - './.gitignore'
            - './settings.gradle'
  build:
    name: Build and make test coverage report
    needs: filtering
    if: needs.filtering.outputs.changes == 'true'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 20.0.2
      uses: actions/setup-java@v3.12.0
      with:
        java-version: '20.0.2'
        distribution: 'oracle'
    - name: Test envs
      env:
        SPRING_PROFILES_ACTIVE: ${{vars.SPRING_PROFILES_ACTIVE}}
        SENTRY_AUTH_TOKEN: ${{secrets.SENTRY_AUTH_TOKEN}}
        ADMIN_EMAIL: ${{secrets.ADMIN_EMAIL}}
        ADMIN_PASS: ${{secrets.ADMIN_PASS}}
        RSA_PRIVATE: ${{secrets.RSA_PRIVATE}}
        RSA_PUBLIC: ${{secrets.RSA_PUBLIC}}
      run: echo "${{env.SPRING_PROFILES_ACTIVE}} ${{secrets.RSA_PUBLIC}}"
    - name: Build with Gradle
      uses: gradle/gradle-build-action@v2.7.0
      env:
           SPRING_PROFILES_ACTIVE: ${{vars.SPRING_PROFILES_ACTIVE}}
           SENTRY_AUTH_TOKEN: ${{secrets.SENTRY_AUTH_TOKEN}}
           ADMIN_EMAIL: ${{secrets.ADMIN_EMAIL}}
           ADMIN_PASS: ${{secrets.ADMIN_PASS}}
           RSA_PRIVATE: ${{secrets.RSA_PRIVATE}}
           RSA_PUBLIC: ${{secrets.RSA_PUBLIC}}
      with:
          arguments: build
          build-root-directory: ./
    - name: Report test coverage to codeclimate
      uses: paambaati/codeclimate-action@v5.0.0
      env:
           CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
           JACOCO_SOURCE_PATH: ./src/main/java
      with:
           coverageCommand: make report
           coverageLocations: ${{github.workspace}}/build/reports/jacoco/test/jacocoTestReport.xml:jacoco
    - name: Deploy
      if: github.ref == 'refs/heads/main'
      env:
            deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
      run: curl "$deploy_url"
